<!-- New Layout -->
<div id="layout-container" class="d-flex bd-highlight ch-100 cw-100" [ngClass]="{
    'flex-column': !isLandscapeMode
}">
    <!-- Content Area -->
    <div id="content-area" class="d-flex flex-column" [ngClass]="{
        'ch-60 cw-100': !isLandscapeMode,
        'ch-100 cw-50': isLandscapeMode
    }">
        <!-- Information Area -->
        <div id="information-container" class="d-flex">
            <div id="heading-area" class="p-2 bd-highlight flex-grow-1">
                New Layout
            </div>
            <div id="show-home" class="p-2 bd-highlight" routerLink="/">
                Home
            </div>
            <div id="next-page" class="p-2 bd-highlight" (click)="nextPage(newLayoutForm)">
                Next
            </div>
        </div>
        
        <!-- Text Area -->
        <div id="text-area" class="p-2 pt-4 overflow-auto ch-60">
            {{ sampleText }}
        </div>

        <!-- Input Area -->
        <div id="input-area" class="p-2 pt-4 ch-40">
            <form #newLayoutForm="ngForm">
                <div class="form-group">
                    <label for="textarea" *ngIf="!isLandscapeMode">
                        Entered text will be shown here:
                    </label>
                    <textarea class="form-control" name="textarea" rows="2" placeholder="Entered text will be shown here" 
                        [(ngModel)]="textarea" disabled>
                    </textarea>
                </div>
            </form>
        </div>
    </div>

    <!-- Keyboard Area -->
    <div id="keyboard bd-highlight" class="p-2" [ngClass]="{
        'ch-40 cw-100 cpt-5': !isLandscapeMode,
        'ch-100 cw-50 cpt-35': isLandscapeMode
    }">
        <app-keyboard id="new-layout" (onChangeAction)="onChangeAction($event)"></app-keyboard>
    </div>
</div>
